<div class="ui inverted segment">
  <div class="ui inverted secondary pointing menu">
    <ng-container *ngIf="authService.behaviorSubject$ | async; else signIn">
      <a class="item" routerLink="/inbox" routerLinkActive="active"> Inbox </a>
      <a class="item" routerLink="/signout" routerLinkActive="active">
        SignOut
      </a>
    </ng-container>

    <ng-template #signIn>
      <a
        class="item"
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        SignIn
      </a>
      <a class="item" routerLink="/signup" routerLinkActive="active">
        Signup
      </a>
    </ng-template>
  </div>
</div>
