<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div formArrayName="country">
    <div *ngFor="let item of country.controls; let i = index">
      <div [formGroupName]="i">
        <input type="checkbox" formControlName="name" />
        {{ item.get("family")?.value }}
      </div>
    </div>
  </div>
  <div formArrayName="address">
    <div *ngFor="let item of address.controls; let i = index">
      <div [formGroupName]="i">
        <input type="checkbox" formControlName="checked" />
        {{ item.get("name")?.value }}
      </div>
    </div>
  </div>
  <button type="submit">Submit</button>
</form>
