<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li
      (click)="onPrevious()"
      class="page-item"
      [disabled1]="{ disabled: currentItem === 0 }"
    >
      <a class="page-link" href="#">Previous</a>
    </li>

    <ng-container *ngFor="let item of items; let i = index">
      <li
        *ngIf="checkWindowIndex(i)"
        class="page-item"
        [disabled1]="{ active: currentItem == i }"
        (click)="currentItem = i"
      >
        <a class="page-link" href="#">{{ i + 1 }}</a>
      </li>
    </ng-container>

    <li
      class="page-item"
      (click)="onNext()"
      [disabled1]="{ disabled: currentItem === items.length - 1 }"
    >
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>

<div style="width: 250px; height: 250px">
  <h2>{{ items[currentItem].title }}</h2>
  <img width="100%" [src]="items[currentItem].url" alt="" />
</div>
