<div class="field">
  <label>{{ label }}</label>
  <input [type]="type" [placeholder]="placeholder" [formControl]="control" />

  <h6
    [ngClass]="{ red: control.errors?.noneUniqUsername }"
    *ngIf="control.errors?.noneUniqUsername && control.touched && control.dirty"
  >
    نام کاربری تکراری است!!!!
  </h6>
  <h6
    [ngClass]="{ red: control.errors?.unknownError }"
    *ngIf="control.errors?.unknownError && control.touched && control.dirty"
  >
    خطای ناشناختهs!!!!
  </h6>
  <h6
    [ngClass]="{ red: control.errors?.required }"
    *ngIf="control.errors?.required && control.touched && control.dirty"
  >
    این فیلد اجباری است!!!!
  </h6>

  <p
    [ngClass]="{ red: control.errors?.minlength }"
    *ngIf="control.errors?.minlength && control.touched && control.dirty"
  >
    حداقل کاراکتر {{ control.errors.minlength.requiredLength }}!!!
  </p>
  <p
    [ngClass]="{ red: control.errors?.maxlength }"
    *ngIf="control.errors?.maxlength && control.touched && control.dirty"
  >
    حراکثر کاراکتر {{ control.errors.maxlength.requiredLength }}!!!
  </p>
</div>
